
<!DOCTYPE html>
<html>
<%- include('header') -%>
<body>
    <div id='h1'>
       <h1 class='titulo'>NutriBoost</h1> 
    </div>
    
    
    <div id='contenedorP'>


    
    <section>
       
       <div id='ContenedorImgNombre'>
       
       
       </div>
       <p>Bienvenido a nuestra página de productos dieteticos llamada NutriBoost, donde encontraras
         una amplia variedad de opciones saludables y nutritivas para complementar tu estilo de vida
         saludable
       </p>
    </section>

    </div>
<div class="lose">
<a href='/login' id='botonProductos' style="color: rgb(25, 162, 18);">Admin</a>
  <a href='/loginUsers' id='botonProductos' style="color: rgb(25, 162, 18);">Cliente</a>
</div>
  
   <%- include('footer') -%>
  
</body>

</html>