<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>Estudiante:</h2>
    <h3>José Alexander Díaz Garcia</h3>
    <h2>C.I:</h2>
    <h3>30.626.814</h3>
    <h3>Sección "2"</h2>   
  </body>
</html>
