<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nutriboost</title>
  <link rel='stylesheet' href='/css/style.css' />
  <link rel="icon" type="image/x-icon" href="img/Dental.jpg" />
</head>
<body>
  <div class="contenedor">
    <header class="header">
      <div class="logo">
        <p style="color: rgb(25, 162, 18);" style="font-family: cursive;">Nutriboost</p>
      </div>
      <div class="diente">
        <img src="img/menu.png" alt="">
      </div>
      <nav class="menu">
        <ul class="navegacion">
          <li><a href="#" style="color:  rgb(237, 184, 99) ;">Inicio</a></li>
          <li><a href="#" style="color:  rgb(237, 184, 99) ;">Producto</a></li>
          <li><a href="#" style="color:  rgb(237, 184, 99) ;">Contacto</a></li>
          <li><a target="_blank" href="/login" class="form_contact"><b>Login</b></a></li>
        </ul>
      </nav>
    </header>
  </div>
  <aside class="presentacion">
    <div class="informacion">
      <h1></h1>
      <div>
        <h2 style="color:  rgb(243, 162, 31);"><b>Nutriboost</b></h4>
        <hr>

      </div>
      <div class="informacion--boton">
       
      </div>
    </div>
    <div class="presentacion--imagen">
      <img src="img/FD.jpg" alt="imagen presentacion">
    </div>
  </aside>
  <main class="michi">
    <h2 class="michi--titulo">Productos Disponibles</h2>
    <div class="tools">
      <article class="Moi">
        <img src="img/CP.jpg" alt="">
        <h1>Vitamina C</h1>
        <p>Tomar en Ayuna</p>
        <div class="Moi--info">
          <p>3$</p>
          <button type="button" style="color: rgb(255, 200, 0) ;">Agregar</button>
        </div>
      </article>
      <article class="Moi">
        <img src="img/CD.jpg" alt="">
        <h1>Fibra de Avena</h1>
        <p>Comer en desayunos y meriendas</p>
        <div class="Moi--info">
          <p>1$</p>
          <button type="button" style="color: rgb(255, 200, 0) ;">Agregar</button>
        </div>
      </article>
      <article class="Moi">
        <img src="img/EB.jpg" alt="">
        <h1>Jenjibre</h1>
        <p>Tomar con Fruta</p>
        <div class="Moi--info">
          <p>5$</p>
          <button type="button" style="color: rgb(255, 200, 0) ;">Agregar</button>
        </div>
      </article>
      <article class="Moi">
        <img src="img/HD.jpg" alt="">
        <h1>Proteina de Suero</h1>
        <p>Tomar bajo la supervision de un Nutricionista</p>
        <div class="Moi--info">
          <p>1$</p>
          <button type="button" style="color: rgb(255, 200, 0) ;">Agregar</button>
        </div>
      </article>
    </div>
  </main>
</body>
</html>




